
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="toc-list">
      <ion-item *ngFor="let chapter of chapters" routerDirection="root" [routerLink]="[chapter.url]" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ chapter.title }}</ion-label>
      </ion-item>
   
  </ion-list>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar class="navFooter">
    <ion-button color="success" expand="fill" fill="solid" [routerDirection]="'root'" [routerLink]="['/cover']">Previous Page</ion-button>
    <ion-button color="success" expand="fill" fill="solid" [routerDirection]="'root'" [routerLink]="['/chapter1']">Next Page</ion-button>
  </ion-toolbar>
</ion-footer>
